<!-- <header class="page__header">@@label</header> -->
<header>
  <a href="https://adalab.es/" target="_blank">
    <img
      src="./assets/images/adalab-logo-155x61.png"
      title="Adalab"
      alt="Adalab"
  /></a>
  <nav class="list">
    <ul>
      <li>
        <a href="https://medium.com/adalab" target="_blank" title="Nuestro blog"
          >Blog</a
        >
      </li>
      <li>
        <a
          href="https://adalab.es/contacto/"
          target="_blank"
          title="Contáctanos"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</header>
